body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-small {
    max-width: 150px;
}

.input-smaller {
    max-width: 100px; /* Increased width to 100px for 25% wider input boxes */
    display: inline-block;
    width: auto;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-group label {
    margin-right: 10px;
    white-space: nowrap;
}

.grain-entry .form-group {
    display: flex;
    align-items: center;
}

.grain-entry .form-group .col-md-4 {
    display: flex;
    align-items: center;
    padding-right: 0; /* Remove right padding to reduce spacing */
}

.grain-entry .form-group .col-md-4 label {
    margin-right: 5px;
}

.btn {
    margin-top: 10px;
}
